---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Noticia Text', serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       rgb(96, 96, 96);
$background-color: #EAE5E5;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$orange: #CC3300;
$brown: #663333;
$peach: #FFCC99;
$darkerOrange: rgba(115, 29, 0, 1);
$darkerBrown: rgba(64, 35, 35, 1);
$darkerPeach: rgba(189, 156, 123, 1);



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin border-radius($size){
  border-radius: $size;
  -webkit-border-radius: $size;
  -moz-border-radius: $size;
}

@mixin background-color-transition($seconds){
  -webkit-transition: background-color $seconds ease-out;
  -moz-transition: background-color $seconds ease-out;
  -o-transition: background-color $seconds ease-out;
  transition: background-color $seconds ease-out;
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "bootstrap-compass",
        "bootstrap-mincer",
        "bootstrap-sprockets",
        "bootstrap.min",
        "base",
        "portfolio",
        "syntax-highlighting"

;
