<div id="contact-container">
    <div id="contacts-section" class="col-md-6">
        <h1>CONTACT</h1>
        <div id="social-logos">
            <div class="social-icons">
                <i class="fa fa-facebook"></i>
            </div>
            <div class="social-icons">
                <i class="fa fa-twitter"></i>
            </div>
            <div class="social-icons">
                <i class="fa fa-google-plus"></i>
            </div>
        </div>
        <div id="contact-information">
            <p><strong>Cell</strong> 09157736652</p>
            <p><strong>Email</strong> siena.abaya@aestrea.com</p>
        </div>
    </div>
    <div id="mail-section" class="col-md-6">
        <p class="contact-caption">Looking forward to answering your email</p>
        <!--<form action="//formspree.io/siena.abaya+1@aestrea.com" method="POST">-->
        <form>
            <input class="col-md-10 col-md-offset-1" type="text" name="name" placeholder="Name">
            <input class="col-md-10 col-md-offset-1" type="email" name="_replyto" placeholder="Email">
            <input class="col-md-10 col-md-offset-1" type="text" name="subject" placeholder="Subject">
            <textarea class="col-md-10 col-md-offset-1" name="message" placeholder="Message"></textarea>
            <input class="col-md-3 col-md-offset-8" type="submit" value="Send">
        </form>
    </div>
</div>