<footer class="site-footer">

    <div class="wrapper">
        <div id="number-container" class="contact-container col-md-3">
            <div class="contact-icon col-md-6">
                <span class="glyphicon glyphicon-earphone"></span>
            </div>
            <div class="contacts-contents col-md-6">
                <p class="contact-header">Call</p>
                <p class="contacts">N/A</p>
            </div>
        </div>
        <div id="mail-container" class="contact-container col-md-3">
            <div class="contact-icon col-md-6">
                <span class="glyphicon glyphicon-envelope"></span>
            </div>
            <div class="contacts-contents col-md-6">
                <p class="contact-header">Mail</p>
                <p class="contacts">sienaabaya@aestrea.com</p>
            </div>
        </div>
        <div id="social-container" class="contact-container col-md-3">
            <div class="contact-icon col-md-6">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
            <div class="contacts-contents col-md-6">
                <p class="contact-header">Follow me</p>
                <p class="contacts"><i class='fa fa-facebook'></i> <i class='fa fa-twitter'></i> <i class='fa fa-google-plus'></i></p>
            </div>
        </div>
        <div id="copyright-container" class="contact-container col-md-3">
            <div class="contact-icon col-md-6">
                <span class="glyphicon glyphicon-copyright-mark"></span>
            </div>
            <div class="contacts-contents col-md-6">
                <p class="contacts">© 2015 by Siena Abaya.</p>
            </div>
        </div>
    </div>

</footer>
