<div id="resume-container" >
    <h1 class="col-md-12">RESUME</h1>
    <div id="work-info-section" class="col-md-8">
        {% for work in site.data.work%}
        <div class="work-info clearfix col-md-12">
            <div class="work-info-title col-md-4">
                <p>{{ work.section }}</p>
            </div>
            <div class="work-content col-md-8">
                {{ work.content }}
            </div>
        </div>
        {% endfor %}
    </div>
    <div id="language-section" class="col-md-4">
        <div class="language-icon">
            <i class="fa fa-language"></i>
        </div>
        <div class="language-label">
            Languages
        </div>
        <div class="languages">
            {% for language in site.data.languages %}
            <p>{{ language.name | upcase }}</p>
            {% endfor %}
        </div>
    </div>
</div>
