.wrapper{
  max-width: calc(980px - (30px * 2));
}
header{
  margin-top: 40px;
  #owner-name{
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 0px;
    line-height: normal;
  }
  h2{
    display: inline-block;
    font-size: 20px;
  }
  nav{
    float: right;
    a{
      font-size: 15px;
      font-weight: 600;
      color: #C3BFBE;
      text-decoration: none!important;
    }
    a:not(:last-child){
      margin-right: 80px;
    }
    a:visited{
      color: #C3BFBE;
    }
    a:hover{
      color: $orange;
    }
    a.active{
      color: $orange;
    }
  }
}
.page-content{
  margin-top: 80px;
  margin-bottom: 80px;
  #owener-image-container{
    padding-left: 0;
    padding-right: 30px;
    img{
      @include border-radius(50%);
    }
  }
  #about-container{
    h1{
      font-weight: bold;
      font-size: 100px;
    }
    h2{
      font-size: 50px;
    }
  }

  #about-navigation-container{
    div{
      @include border-radius(50%);
      height: 120px;
      width: 120px;
      display: inline-block;
      p{
        font-size: 15px;
        color: white;
        margin-top: 47px;
        text-align: center;
      }
    }
    div:not(:last-child){
      margin-right: 15px;
    }
    div#resume-nav{
      background-color: $orange;
      cursor: pointer;
    }
    div#resume-nav:hover{
      background-color: $darkerOrange;
      @include background-color-transition(1s);
    }
    div#work-nav{
      cursor: pointer;
      background-color: $brown;
    }
    div#work-nav:hover{
      background-color: $darkerBrown;
      @include background-color-transition(1s);
    }
    div#skill-nav{
      cursor: pointer;
      background-color: $peach;
    }
    div#skill-nav:hover{
      background-color: $darkerPeach;
      @include background-color-transition(1s);
    }
  }
}

.page-content.ng-hide{
  opacity: 0;
  line-height: 0;
}

.page-content{
  opacity: 1;
}
.page-content.ng-hide-add{

}
.page-content.ng-hide-remove {
  -webkit-transition: 0.4s ease all;
  transition: 0.5s ease all;
}


footer{
  padding: 40px 0;
  background-color: $orange;
  color: #ffffff;
  .contact-container{
    .contact-icon{
      display: inline-block;
      width: 45px;
      height: 45px;
      @include border-radius(50%);
      background-color: $brown;
      padding: 10px;
      span{
        font-size: 25px;
      }
    }
    .contacts-contents{
      padding-right: 0;
      .contact-header{
        font-size: 14px;
        line-height: normal;
        margin-bottom: 0;
        font-weight: 700;
      }
      .contacts{
        font-size: 14px;
      }
    }
  }
  #social-container{
    .contacts-contents{
      .contacts{
        i{
          margin-right: 10px;
        }
      }
    }
  }
}

