header{
  margin-top: 40px;
  #owner-name{
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 0px;
    line-height: normal;
  }
  h2{
    display: inline-block;
    font-size: 20px;
  }
  nav{
    float: right;
    a{
      font-size: 15px;
      font-weight: 600;
      color: #C3BFBE;
      text-decoration: none!important;
    }
    a:not(:last-child){
      margin-right: 80px;
    }
    a:visited{
      color: #C3BFBE;
    }
    a:hover{
      color: #61CFD3;
    }
    a.active{
      color: #61CFD3;
    }
  }
}
