<!DOCTYPE html>
<html ng-app="portfolio">

{% include head.html %}

<body>
{% include header.html %}
<div class="page-content" ng-show="tab===1">
    <div class="wrapper">
        {% include home.html %}
    </div>
</div>
<div class="page-content" ng-show="tab===2">
    <div class="wrapper">
        {% include resume.html %}
    </div>
</div>
<div class="page-content" ng-show="tab===3">
    <div class="wrapper">
        {% include contacts.html %}
    </div>
</div>
{% include footer.html %}
</body>

</html>
